---
import Layout from './/Layout.astro';

const { title } = Astro.props;
---

<Layout title={title}>
    <div class="container prose max-w-none ">
        <slot/>
    </div>
</Layout>

<style>
    pre, code {
        @apply bg-neutral-100;
    }
</style>
